body {
  display: flex;
  background-color: #faf8ef;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.score-board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 600px;
  width: 350px;
  background-color: #bef18f;
  margin-right: 50px;
  border: 5px solid rgb(155, 182, 182);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}

.leaderboard {
  margin-bottom: 20px;
  font-size: 40px;
  color: #4a752c;
  border-bottom: 3px solid rgb(155, 182, 182);
  width: 100%;
  line-height: 50px;
}

.scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  max-height: 500px;
}

.scores-container div {
  width: 90%;
  background-color: #ffffff;
  margin: 5px 0;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #333;
  border: 2px solid #a5c9a5;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.board {
  display: flex;
  width: 40vw;
  height: 40vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #434a54;
}

.square {
  display: flex;
  width: 22%;
  height: 22%;
  margin: 1%;
  border-radius: 3px;
  background-color: rgb(182, 172, 172);
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 2px solid; */
  /* border-color: #faf8ef; */
}

.elementContainer {
  margin-bottom: 70px;
  padding: 50px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

h1 {
  font-size: 70px;
  color: rgb(102, 167, 211);
}

.scoreElementContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(206, 82, 51);
  padding: 15px 25px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 3px;
  columns: white;
  text-align: center;
  margin-left: 10px;
}

#scoreLabel {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

button {
  width: 180px;
  height: 50px;
  outline: none;
  font-size: large;
  font-weight: bold;
  background-color: rgb(30, 187, 80);
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

.tile {
  width: 22%;
  height: 22%;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  color: #f9f6f2;
  background-color: #edc22e;
  transition: top 0.25s, left 0.25s, width 1s, height 1s;
}

.gameover {
  font-size: 50px;
  font-weight: bold;
  color: crimson;
}

.row1 {
  top: 75%;
}

.row2 {
  top: 51%;
}

.row3 {
  top: 27%;
}
.row4 {
  top: 3%;
}

.column1 {
  left: 3%;
}
.column2 {
  left: 27%;
}

.column3 {
  left: 51%;
}

.column4 {
  left: 75%;
}

/* Set the color of the tile with value 2 */
.value2 {
  color: rgb(119, 110, 101);
  background-color: #eee4da;
}

/* Set the color of the tile with value 4 */
.value4 {
  color: rgb(119, 110, 101);
  background-color: #eee1c9;
}

/* Set the color of the tile with value 8 */
.value8 {
  color: #f9f6f2;
  background-color: #f3b27a;
}

.value16 {
  color: #f9f6f2;
  background-color: #f69664;
}

.value32 {
  color: #f9f6f2;
  background-color: #f77c5f;
}

.value64 {
  color: #f9f6f2;
  background-color: #f75f3b;
}

.value128 {
  color: #f9f6f2;
  background-color: #edd073;
}

.value256 {
  color: #f9f6f2;
  background-color: #edcc62;
}

.value512 {
  color: #f9f6f2;
  background-color: #f75f3b;
}

.value1024 {
  color: #f9f6f2;
  background-color: #edc53f;
  font-size: 40px;
}

.value2048 {
  color: #f9f6f2;
  background-color: #edc22e;
  font-size: 40px;
}

/* blink animation to temporarily shrink the size */
@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

/* animation to trigger blink effect in 0.25 seconds */
.merged {
  animation: blink 0.25s;
}

#alert {
  color: rgb(119, 110, 101);
  background: rgba(238, 228, 218, 0.73);
  font-size: 60;
  font-weight: bold;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  z-index: 3;
}

@media (max-width: 600px) {
  .tile {
    font-size: 25px;
  }
  h1 {
    font-size: 40px;
  }
  button {
    width: 100px;
    height: 30px;
    font-size: small;
  }

  .scoreElementContainer {
    font-size: 18px;
  }

  #scoreLabel {
    font-size: 18px;
  }
}
